<launch>
    <arg name="turtle_name" default="arg1" />
    <arg name="cmd" default="arg2" />
    <arg name="linear.x" default="arg3" />
    <arg name="angular.z" default="arg4" />
    <node pkg="learning_communication" type="run_control" args="$(arg turtle_name) $(arg cmd) $(arg linear.x) $(arg angular.z)" name="run_control" output="screen" />
</launch>
